<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About Me</div>
            <p class="paragraph-text justify-text">
                I am a computer engineering graduate and a soon-to-be data science graduate with a strong passion for artificial intelligence, particularly in the areas of neural networks, data analysis, and cybersecurity. 
                I am driven to excel in these rapidly evolving fields and regularly attend data science seminars to stay informed about the latest trends and advancements.
            </p>
            <p class="paragraph-text justify-text">
                My love for computers extends beyond my profession—it’s also my hobby. I am deeply fascinated by the workings of the Internet and enjoy developing web applications, both frontend and backend.
                In addition to technology, I have a keen interest in the medical field, music (especially playing the piano), and video games.
            </p>
            <p class="paragraph-text justify-text">
                You can explore some of my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. 
                Feel free to reach out to me via email at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
