<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                <!-- <a href="https://github.com/AntonioMakdissi/my-business-card/releases/latest/download/card.pdf">Business Card</a> -->
            <!-- </br> -->
            I am a computer engineering graduate and soon-to-be data science graduate with a passion for artificial intelligence, particularly neural networks, data analysis, and cybersecurity. Determined to excel in these constantly evolving fields, I regularly attend weekly data science seminars to stay up-to-date with the latest trends and developments.
            </p>
            <p class="paragraph-text justify-text">
                I love working with computers — it's both my hobby and profession. I am particularly fascinated by the Internet and how it works, and I am comfortable working on web applications, both frontend and backend. I have also worked on smartphone apps, both native and hybrid, and have experience with Linux system administration. Additionally, I have a keen interest in securing information systems and building secure systems.
                <!-- My role models include old-school programmers and <a href="https://stallman.org/articles/on-hacking.html">hackers</a> who never make it to the mainstream news, but are responsible for most of the software that people use on an everyday basis. I promote, support and use free and open source software to the extent possible. -->
            </p>
            <p class="paragraph-text justify-text">
                You can find some of my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. 
                My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
